#country_form {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  /* border: 1px solid black; */
  margin-top: 20px;
}

#country_form input:first-child {
  width: 75%;
  text-align: center;
}
